%div.inner.cover
  %h1.cover-heading= I18n.t 'static_pages.welcome.title'
  %p.lead
    = I18n.t 'static_pages.welcome.presentation'
  %p.lead
    =link_to "View stocks", stocks_path, {class: "btn btn-lg btn-default"}

