%div.inner.cover
  %h1.cover-heading Welcome on Stocks
  %p.lead
    With Stocks, follow the price of your favorite shares day by day
    and receive alerts when it reaches your target level.
  %p.lead
    =link_to "View stocks", stocks_path, {class: "btn btn-lg btn-default"}

