.col.col-md-12
  %div.panel.panel-primary
    %div.panel-heading.text-center
      =@stock.name
    %div.panel-body
      %fieldset
        %legend
          Valeur en temps réel
        = react_component("Stock", { value_now: @stock.stock_live_info.value_now, |
                                     value_open: @stock.stock_live_info.value_open, |
                                     value_low: @stock.stock_live_info.value_low, |
                                     value_high: @stock.stock_live_info.value_high })
      =render partial: 'alerts/new_alert', locals: { alert: Alert.new(stock: @stock) }
